/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Color de fondo predeterminado */
    color: #333; /* Color de texto predeterminado */
    margin: 0;
    padding: 20px;
}

#app {
    background-color: #fff; /* Color de fondo predeterminado */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
}

h1 {
    color: #333;
}

/* Estilos del Input y Botón */
input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ddd; /* Añadir borde y color */
    border-radius: 4px; /* Borde redondeado */
}

button {
    padding: 10px 20px;
    background-color: #5cb85c; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor con forma de mano */
}

button:hover {
    background-color: #449d44; /* Color de fondo del botón al pasar el cursor por encima*/
}

/* Estilos de la Lista de Tareas */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Añadir borde inferior y color */
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}
.buttonB {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #d9534f; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Cursor con forma de mano */
}

.buttonB:hover {
    background-color: #c9302c;
}
/* Estilos del Menú */
.menu {
    list-style: none; /* Quitar viñetas de la lista */
    margin: 0;
    padding: 0;
    background-color: #333; 
    overflow: hidden; /* Quitar barra de desplazamiento */
}

.menu li {
    float: left; /* Alinear elementos a la izquierda */
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

/* Estilos del Contenido */
.content {
    padding: 20px;
}